[Unit]
Description=ao-daemon

[Service]
ExecStart=NODE AO
User=USER
Type=simple
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target

