[Unit]
Description=ao-daemon

[Service]
ExecStart=NODE HOME/ao-3/src/server/app.js
User=USER
Type=simple
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target

