@import "./colours"

.donut
    border-style: dotted
    border-color: main
    border-radius: 100%
    height: 3em
    width: 3em

.donut.selected
    background: lightGrey

.donut.square
    border-radius: 0
